body {
    color: rgb(222, 222, 222);
    background-color: rgb(46, 46, 46);
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.rt-logo {
    width: 400px;
    max-width: 80vw;
    margin-top: 20vh;
}

a {
    text-decoration: none;
    color: rgba(245, 195, 78, 0.735);
    margin: 0 10px;
}

hr {
    width: 100px;
}

p {
    font-size: 1.3rem;
}

.navbar {
    background-color: black;
    text-align: center;
    opacity: 0.8;
    position: fixed;
    padding: 20px;
    left: 0;
    right: 0;
    width: 100%;
}
.header {
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.831), rgba(0, 0, 0, 0.468)), url(../resources/monaco.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin: auto;
    width: 100%;  
}

.team-logo {
    width: 200px;
    color: white;
}

.company-objective {
    color: rgba(216, 215, 215, 0.783);
    font-size: 1.5rem;
    max-width: 800px;
    margin: auto;
    /* border: 3px solid rgba(159, 124, 35, 0.345); */
    border-radius: 15px;
    margin-top: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 20px;
}

.about {
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding: 10px;
    min-height: 100vh;
}

.connectors-image {
    height: 400px;
    border-radius: 10px;
}

.contact {
    color: rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
    text-align: center;
    height: 800px;
}